.btn {
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  padding: 13px 40px;
  border: 2px solid #00b1ce;
  background-color: $blue;
  border-radius: 25px;
  font-weight: 400;
  text-decoration: none;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: #fff;
    color: $blue;
  }

  &_transp {
    background-color: rgba(0,0,0,0);
    border-color: #fff;
  }
}
