// variables
  $yellow: #fff82d;
  $blue: #31bfd7;
  $dark-blue: #00b1ce;
  $grey: #999999;
  $dark-grey: #777a7e;
  $black: #3f444d;

// base styles
* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  overflow-x: hidden;
  width: 100vw;
}

main {
  font-family: 'Bender';
  font-weight: 400;
  background-color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-wrap {
  padding-top: 125px;
  min-height: 100vh;
  width: 100%;
  @include rmin(1000) {
    padding-top: 164px;
  };
  @include rmin(1060) {
    padding-top: 160px;
  };
  @include rmin(1366) {
    padding-top: 110px;
  };
  &_flex {
    display: flex;
  }
  &_login {
    height: 100vh;
    .container {
      padding-left: 20px ;
      padding-right: 20px ;
      padding-top: 20px ;
      padding-bottom: 20px ;
    }
  }
}

.page-content {
  flex-grow: 1;
  width: 100%;
  @include rmin(1024) {
    width: calc(100% - 285px);
  };
  @include rmin(1680) {
    width: calc(100% - 350px);
  };
}

.container {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 30px;
  padding-right: 35px;
  padding-left: 65px;
  position: relative;
  @include rmin(1024) {
    padding-left: 25px;
  };
  @include rmin(1680) {
    padding-right: 100px;
    padding-left: 65px;
  };
}
