.form {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 350px;
  text-align: center;
  @include rmin(600) {
    width: 50%;
  };
  @include rmin(1060) {
    width: 25%;
  };
  &_text {
    max-width: 100%;
    @include rmin(600) {
      width: 80%;
    };
    @include rmin(1060) {
      width: 80%;
    };
  }
  &_multiple {
    bottom: 50%;
    transform: translate(-50%, 50%);
    > * + * {
      margin-top: 35px;
    }
  }
  input {
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $grey;
    padding: 8px 10px;
    font-size: 28px;
    font-family: 'Bender';
    font-weight: 400;
    color: $black;
  }
  button {
    display: inline-block;
    margin-top: 50px;
    background-color: $blue;
    padding: 10px 20px;
    min-width: 220px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Bender';
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    transition: .3s ease;
    @include rmin(1024) {
      margin-top: 10vh;
    };
    @include rmin(1680) {
      font-size: 48px;
    };
    &:hover {
      background-color: $grey;
    }
  }
  p {
    color: #fff;
    font-size: 18px;
    @include rmin(768) {
      font-size: 24px;
    };
    & + p {
      margin-top: 30px;
    }
  }
}
