.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  background-image: linear-gradient(to bottom, rgba(0,0,0, .2) 15%, rgba(0,0,0,0));
  background-color: rgba(0,0,0,0);
  transition: .3s ease;
  z-index: 999;
  @include rmin(768) {
    padding: 20px 35px;
  };
  &.menu-opened {
    background-color: rgba(0,0,0, .3);
  }
  &.fixed {
    background-color: $blue;
    background-image: none;
    .socials {
      display: none;
    }
    .header__add-btn {
      display: block !important;
    }
    .header__menu {
      background-color: $blue;
    }
    .notice {
      transform: translateY(100%);
      opacity: 1;
      &__inner {
        transition-delay: .2s;
        transform: translateY(0);
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    @include rmin(1000) {
      align-items: center;
    };
    // @include rmin(1366) {
    //   align-items: flex-end;
    // };
  }
  &__col {
    width: 20%;
    &_left {
      width: 100%;
      @include rmin(1000) {
        text-align: center;
      };
      @include rmin(1060) {
        width: 20%;
        text-align: left;
      };
    }
    &_right {
      display: none;
      @include rmin(1000) {
        display: block;
        width: 27%;
      };
      @include rmin(1060) {
        width: 20%;
      };
    }
  }

  &__menu-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 25px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 10;
    @include rmin(1000) {
      display: none;
    };
    &.menu-opened {
      span {
        &:first-child {
          transform: translateX(-100%);
        }
        &:last-child {
          transform: translateX(100%);
        }
        &:nth-child(2){
          transform: rotate(45deg);
        }
        &:nth-child(3){
          transform: rotate(-45deg);
        }
      }
    }
    span {
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: .3s ease;
      &:first-child {
        top: 0;
        transform: translateX(0);
      }
      &:nth-child(2) {
        top: calc(50% - 1.5px);
      }
      &:nth-child(3) {
        top: calc(50% - 1.5px);
      }
      &:last-child {
        bottom: 0;
        transform: translateX(0);
      }
    }
  }
  &__menu {
    display: flex;
    position: absolute;
    left: -15px;
    bottom: -20px;
    width: calc(100% + 30px);
    flex-direction: column;
    transform: translateY(0%);
    opacity: 0;
    background-color: rgba(0,0,0, .3);
    text-align: center;
    transition: .3s ease;
    @include rmin(768) {
      left: -35px;
      width: calc(100% + 70px);
    };
    @include rmin(1000) {
      opacity: 1;
      background-color: rgba(0,0,0,0);
      position: static;
      width: auto;
      margin-top: 20px;
      flex-direction: row;
      transform: none;
      text-align: left;
    };
    &.is-opened {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  &__menu-item {
    position: relative;
    padding: 15px;
    font-size: 16px;
    @include rmin(900) {
      font-size: 14px;
      padding: 0;
    };
    & + & {
      @include rmin(1000) {
        margin-left: 45px;
      };
      @include rmin(1060) {
        margin-left: 15px;
      };
      @include rmin(1366) {
        margin-left: 45px;
      };
    }
    &:hover,
    &.active {
      &:after{
        transform: translateY(100%) scaleX(1);
      }
    }
    &:after{
      @include rmin(1060) {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 25px;
        background-color: $yellow;
        transform: translateY(100%) scaleX(0);
        transform-origin: left;
        transition: .3s ease;
      };
    }
  }

  &__add-btn {
    display: none !important;
  }
}
