.info {
  color: #fff;
  font-size: 16px;
  width: 100%;
  @include rmin(550) {
    font-size: 26px;
  };
  @include rmin(1680) {
    font-size: 36px;
  };
  * + * {
    margin-top: 20px;
  }
  &__selected {
    margin-left: 15px;
    margin-bottom: 30px;
    border-left: 2px solid #fff;
    padding: 10px;
    @include rmin(550) {
      padding: 10px 20px;
      margin-left: 25px;
      margin-bottom: 50px;
    };
  }
  &__link-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a {
      color: #3279f9;
      text-decoration: underline;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 75%;
      overflow: hidden;
    }
    button {
      display: block;
      margin-top: 0;
      margin-left: 25px;
      font-family: 'Bender';
      font-weight: 400;
      background-color: #fff;
      color: $black;
      border-radius: 5px;
      font-size: 16px;
      padding: 2px 30px;
      transition: .3s ease;
      @include rmin(550) {
        font-size: 26px;
      };
      &:hover {
        background-color: $grey;
        color: #fff;
      }
    }
  }
}
