.login-btns {
  display: flex;
}
.login-btn {
  display: block;
  font-family: 'Bender', sans-serif;
  font-weight: 400;
  background-color: $grey;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 5px;
  transition: .3s ease;
  & + & {
    margin-left: 10px;
  }
  &:hover {
    background-color: #000;
  }
}
