.notice{
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  opacity: 0;
  overflow: hidden;
  background-color: $dark-blue;
  width: 100%;
  padding: 10px;
  display: none;
  @include rmin(1060) {
    display: block;
  };
  &__inner {
    transform: translateY(-200%);
    transition: .3s ease-in;
    text-align: center;
  }
  span {
    color: $yellow;
    font-weight: 500;
    &.underlined {
      text-decoration: underline;
      font-weight: 700;
      .icon {
        fill: $yellow;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}
