.sidebar {
  width: 100%;
  background-color: #fff;
  font-size: 26px;
  position: fixed;
  z-index: 998;
  height: 100%;
  transform: translateX(calc(-100% + 40px));
  transition: .3s ease;
  padding-left: 15px;
  // overflow-y: auto;
  @include rmin(768) {
    padding-left: 35px;
  };
  @include rmin(1024) {
    position: static;
    height: auto;
    transform: none;
    min-width: 285px;
    width: auto;
    padding-left: 0;
    overflow-y: hidden;
  };
  @include rmin(1680) {
    font-size: 36px;
    min-width: 350px;
  };
  &.opened {
    transform: translateX(-25px);
  }
  &__mob-btn {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateX(50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid $grey;
    border-radius: 50%;
    transition: .3s ease;
    @include rmin(1024) {
      display: none;
    };
    &.active,
    &:hover {
      background-color: $black;
      span {
        background-color: #fff;
      }
    }
    span {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 5px;
      background-color: $black;
      border-radius: 50%;
      transition: .3s ease;
      &:first-child {
        top: 10px;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:last-child {
        bottom: 10px;
      }
    }
  }
  &__menu {
    padding: 20px;
  }
  &__menu-item {
    padding: 20px 0;
    &.active,
    &:hover {
      a {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    a {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -17px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $black;
        transform: scaleX(0);
        transition: .4s ease;
        transform-origin: left;
      }
    }
  }
}
