.socials {
  justify-content: flex-end;
  display: flex;
  &__item {
    width: 30px;
    height: 35px;
    opacity: 1;
    transition: .3s ease;
    @include rmin(1060) {
      width: 25px;
      height: 30px;
    };
    @include rmin(1366) {
      width: 30px;
      height: 35px;
    };
    &:hover {
      opacity: .5;
    }
    & + & {
      margin-left: 20px;
      @include rmin(1060) {
        margin-left: 10px;
      };
      @include rmin(1366) {
        margin-left: 20px;
      };
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}
