.table-block {
  & + & {
    margin-top: 40px;
  }
  &__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__table-wrapper {
    width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
    @include rmin(1120) {
      overflow-x: visible;
    };
  }
  &__table {
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    table-layout: fixed;
    width: 100%;
    min-width: 780px;
    @include rmin(1680) {
      font-size: 24px;
    };

    thead {
      background-color: $dark-grey;
      color: #fff;
    }
    td {
      vertical-align: middle;
      text-align: center;
      padding: 5px 10px;
    }
    a {
      color: #3279f9;
      text-decoration: underline;
      &:visited {
        color: #551A8B;
      }
    }

    &_scroll {
      thead {
        border-bottom: 3px solid $black;
        background-color: #fff;
        color: $black;
        td {
          &:last-child {
            padding-right: 27px;
          }
        }
      }
      tbody {
        display: block;
        overflow-y: auto;
        height: 200px;
        tr {
          & + tr {
            border-top: 1px solid $grey;
          }
        }
      }
      tr {
        height: 30px;
        display: block;
        &:after {
          content: ' ';
          display: block;
          visibility: hidden;
          clear: both;
        }
      }
      td {
        float: left;
        text-align: left;
        &:first-child {
          width: 20%;
        }
        &:nth-child(2) {
          width: 32%;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: 16%;
        }
      }
      tbody::-webkit-scrollbar {
        width: 8px;
      }
      tbody::-webkit-scrollbar-track {
        background-color: #9fa5af;
        border-radius: 5px;
      }
      tbody::-webkit-scrollbar-thumb {
        background-color: #3f444d;
        border-radius: 5px;
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
      }
    }

    &_bordered {
      td {
        border: 2px solid $black;
        padding: 15px 20px;
      }
    }

    &_bonus {
      td {
        &:first-child {
          width: 60px;
        }

        span {
          background-color: $black;
          color: #fff;
          border-radius: 5px;
          padding: 2px 4px;
          font-size: 16px;
        }
      }
    }
  }
}
