.visitor-email {
  font-family: 'Bender';
  font-weight: 400;
  position: relative;
  display: inline-block;
  z-index: 10;
  &:hover {
    .visitor-email__dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
  &__dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    transition-delay: .2s;
    padding: 0px 30px 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 16px 53px -15px rgba(0,0,0,0.5);
  }
  &__dropdown-item {
    & + & {
      border-top: 2px solid $grey;
    }
    button {
      font-family: 'Bender';
      font-weight: 400;
      font-size: 28px;
      background-color: rgba(0,0,0,0);
      padding: 5px 0;
      display: block;
    }
  }
  p {
    font-size: 28px;
  }
}
