---
title: Index Page
---
extends layouts/_layout
block content
  
  .container
    h2.title PAGES
      ol.pages
        //- li.pages__item
        //-   a(href='moss-main.html').text 1) Moss Main Page
        li.pages__item
          a(href='purchase-history.html').text 2) Purchase History Page
        li.pages__item
          a(href='lockup-period.html').text 3) Lockup Period Page
        li.pages__item
          a(href='referral-bonus.html').text 4) Referral Bonus Page
        li.pages__item
          a(href='information.html').text 5) Information Page
        li.pages__item
          a(href='moss-signin1.html').text 6) First Login Step Page
        li.pages__item
          a(href='moss-signin2.html').text 7) Second Login Step Page
        li.pages__item
          a(href='moss-signin3.html').text 8) Third Login Step Page
        li.pages__item
          a(href='moss-signin4.html').text 9) Fourth Login Step Page
