+b('header').header-admin
  +e.main
    +e('button').menu-btn.js-menu-btn
      span
      span
      span
      span
    +e.col._left
      +e('a')(href='#').logo
        img(src='img/logo_dark.svg')
    +e('ul').menu.js-menu
      +e('li').menu-item
        a(href='#') Potential
      +e('li').menu-item
        a(href='#') About
      +e('li').menu-item
        a(href='#') White Paper
      +e('li').menu-item
        a(href='#') Roadmap
      +e('li').menu-item
        a(href='#') Token sale
      +e('li').menu-item
        a(href='#') Team
      +e('li').menu-item
        a(href='#') News
    +e.col._right
      +b('ul').socials
        +e('li').item
          a(href='#' style='background-image: url(img/tg-kor.png);')
        +e('li').item
          a(href='#' style='background-image: url(img/tg-eng.png);')
        +e('li').item
          a(href='#' style='background-image: url(img/tg-ru.png);')
        +e('li').item
          a(href='#' style='background-image: url(img/kakao.png);')
        +e('li').item
          a(href='#' style='background-image: url(img/steemit.png);')
  +e.optional-content
    +b.visitor-email
      p abcd@moss.land
      +e('ul').dropdown
        +e('li').dropdown-item
          button my page
        +e('li').dropdown-item
          button log out
  +b('a')(href='#').notice
    +e('p').inner
      span Important Notice! 
      | Main-ICO plan has been changed. For more details, 
      span.underlined click here
        +icon('icon-arrow-right')
            
