.page-wrap.page-wrap_flex
  +b('nav').sidebar.js-sidebar
    +e('button').mob-btn.js-sidebar-open
      span
      span
      span
    +e('ul').menu
      +e('li').menu-item
        a(href='#') Information
      +e('li').menu-item.active
        a(href='#') Purchase history
      +e('li').menu-item
        a(href='#') Referral bonus
      +e('li').menu-item
        a(href='#') Lockup period
  .page-content
    .container
      +b('section').table-block
        +e('h2').title Pre/Private ICO
        +e.table-wrapper
          +e('table').table._scroll
            thead
                tr
                  td Date
                  td / Ethereum Wallet Address
                  td / Amount
                  td / bonus(%)
                  td / Moss Coin
            tbody
                tr
                  td 2018.02.19	
                  td 0x1a2b3c4d5e6f7g8h9i0j
                  td 3.5786
                  td 35%
                  td 48311.1
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                    
      +b('section').table-block
        +e('h2').title Main ICO
        +e.table-wrapper
          +e('table').table._scroll
            thead
                tr
                  td Date
                  td / Ethereum Wallet Address
                  td / Amount
                  td / bonus(%)
                  td / Moss Coin
            tbody
                tr
                  td 2018.02.19	
                  td 0x1a2b3c4d5e6f7g8h9i0j
                  td 3.5786
                  td 35%
                  td 48311.1
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
