.page-wrap.page-wrap_flex
  +b('nav').sidebar.js-sidebar
    +e('button').mob-btn.js-sidebar-open
      span
      span
      span
    +e('ul').menu
      +e('li').menu-item.active
        a(href='#') Information
      +e('li').menu-item
        a(href='#') Purchase history
      +e('li').menu-item
        a(href='#') Referral bonus
      +e('li').menu-item
        a(href='#') Lockup period
  .page-content
    .container
      +b.info
        p
          | KYC status : 
          span None / in progress / success / fail
        p
          | Name : 
          span first name last name
        p
          | E-mail address : 
          span abcd@moss.land
        p
          | Ethereum wallet address : 
          span 0x1a2b3c4d5e6f7g8h9i0j
        p
          | Language : 
          span English
        p
          | Referrer : 
          span AB123CDE45
