.page-wrap.page-wrap_flex
  +b('nav').sidebar.js-sidebar
    +e('button').mob-btn.js-sidebar-open
      span
      span
      span
    +e('ul').menu
      +e('li').menu-item
        a(href='#') Information
      +e('li').menu-item
        a(href='#') Purchase history
      +e('li').menu-item
        a(href='#') Referral bonus
      +e('li').menu-item.active
        a(href='#') Lockup period
  .page-content
    .container
      +b('section').table-block
        +e('h2').title Lockup Table
        +e.table-wrapper
          +e('table').table._bordered
            thead
                tr
                  td Month/MOC
                  td ~250k
                  td 250k ~ 1m
                  td 1m~
            tbody
                tr
                  td Lockup period
                  td 0 Month
                  td 3 Month
                  td 6 Month
                tr
                  td Bonus Lockup
                  td 3 Month
                  td 6 Month
                  td 12 Month
                    
      +b('section').table-block
        +e.table-wrapper
          +e('table').table._bonus
            thead
                tr
                  td 
                  td Your MOC
                  td Lockup period	
                  td Current payments
                  td Next payment date
            tbody
                tr
                  td 
                  td 999,999	
                  td 18.03.21~18.09.21
                  td 333,333(30%)
                  td 18.05.21
                tr
                  td
                    span bonus
                  td 123,123
                  td 18.03.21~19.03.21
                  td 123,12(10%)
                  td 18.05.21
                  
      +b('section').table-block
        +e.table-wrapper
          +e('table').table._scroll
            thead
                tr
                  td Date
                  td / Ethereum Wallet Address
                  td / Amount
                  td / Tx Hash
            tbody
                tr
                  td 2018.02.19	
                  td 0x1a2b3c4d5e6f7g8h9i0j
                  td 3.5786
                  td
                    a(href='#') 0x123adsf123asdf34234a...
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
