.page-wrap.page-wrap_login
  .container
    +b('form').form._multiple
      p abcd@moss.land
      input(type='password' placeholder='password')
      input(type='password' placeholder='confirm password')
      button ok
