.page-wrap.page-wrap_flex
  +b('nav').sidebar.js-sidebar
    +e('button').mob-btn.js-sidebar-open
      span
      span
      span
    +e('ul').menu
      +e('li').menu-item
        a(href='#') Information
      +e('li').menu-item
        a(href='#') Purchase history
      +e('li').menu-item.active
        a(href='#') Referral bonus
      +e('li').menu-item
        a(href='#') Lockup period
  .page-content
    .container
      +b.info
        p
          | Total bonus Moss coin : 
          span 123456
        p
          | Number of people received your referral : 
          span 12
        +e.selected
          p
            | Number of people referred : 
            span 6
          p
            | Total amount of ETH : 
            span 4.231
        p
          | Your referral Code : 
          span AB12CD34EF
        p
          | Your referral link : 
          +e.link-wrap
            a(href='#' target='_blank').js-link https://form.jotform.me/80104658072452?code=AB12CD34EF
            button.js-copy Copy
      
