include _mixins
include ../../bemto/bemto

doctype html
html
  head
    include _head

  body(class=bodyClass)
    block content

    //LOAD scripts
    block scripts
      script(type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
      script(type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
      script(type="text/javascript" src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js")
      script(src="js/app.js")
      
