- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg.icon(class=name + modClass)
    use(xlink:href= svgSprite + '#' + name)

mixin btn (text, mod, name)
  +b('a')(href='#' class=mod).btn= text
    +icon(name)
    
mixin btn-noborder (text, name)
  +b('a')(href='#').btn-noborder
    span= text
      +icon(name)
      
mixin btn-shift (text, mod)
  +b('a')(href='#' class=mod).btn-shift
    span= text
    
mixin btn-shift-icon (text, mod, name)
  +b('a')(href='#' class=mod).btn-shift
    span= text
      +icon(name)
      
mixin btn-shift-form (text, mod)
  +b('button')(class=mod).btn-shift
    span= text
  
mixin btn-form (text, mod)
  +b('button')(class=mod).btn= text
